<div class="widget_container" layout="row" layout-align="space-between center">
  <h3>Edit row</h3>
  <md-button class="md-transparent md-transparent--sm" ng-click="clearForm(editForm, editModels)">reset</md-button>
</div>
<div class="hr"></div>
<form name="editForm" ng-submit="saveRow(editForm, 'edit', editModels)" class="scroll-area margin-none">
  <div ng-repeat="editmodel in editModels" ng-show="model.editable">
    <ng-include src="'jqGridWidget/widget/views/add_edit_form.ejs'"
      onload="add_edit = editForm;tabType = 'edit';model = editmodel;editColumn = widgetInfo.urls.editColumn;"></ng-include>
  </div>
</form>
<div class="hr"></div>
<div class="widget_container">
  <md-button class="md-white" ng-click="saveRow(editForm, 'edit', editModels)" ng-disabled="editForm.$invalid">Save</md-button>
</div>
<div class="hr"></div>
