<div class="inactive">
  <div class="error-content">
    <h4 ng-bind="appName" class="app-name"></h4>
    <h1 class="error-header">Ouch! The application you’re trying to access as been deactivated.</h1>

    <p class="error-text">
      If you’re an application user, please contact your app administrator for further help or please reactivate the app to access it.
    </p>

    <p class="error-text">
      Please reach out to us at
      <a class="support-link" href="mailto:support@opexanalytics.com">support@opexanalytics.com</a>
      in case the problem presists.
    </p>
  </div>
	<img class="error-image" src="./src/images/app_down.svg" alt="add">
</div>
