<html lang="en">
	<% include includes/header %>
	<body>
		<div ui-view></div>
        <span us-spinner="{position: 'fixed', left: '50%', top:'50%', radius:30, width:8, length: 16}" spinner-key="spinner-1"></span>
		<% include includes/footer %>
		<% include includes/keycloak %>
	</body>
</html>
