<div class="settings_container">
	<div ui-view></div>
</div>
<div class="version_conteiner">
	<p class="version" ng-bind="settings.appSettings.version"></p>
	<p class="text">Application version</p>
</div>
