#actions {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  transition: transform 0.5s linear;
  background-color: var(--extra-color);
  z-index: 10;
  min-width: 600px;
  box-shadow: -10px 0 20px 0 rgba(0, 0, 0, 0.2);
  color: #FFF;
  transform: translateX(615px);
  .header {
    height: 60px;
    padding: 15px 20px;
    h2 {
      margin-top: 0px;
      margin-bottom: 0px;
      text-transform: uppercase;
      font-size: 24px;
      font-weight: 700;
    }
  }
  svg.light-spinner {
    fill: #FFF;
    stroke: #FFF;
  }
  .upload_action {
    margin-bottom: 0px;
    cursor: pointer;
    & + input[type=file] {
      visibility: hidden;
      height: 1px;
      width: 1px;
    }
  }
}

.action-content {
  position: fixed;
  top: $bar_height_sm;
  bottom: 0;
  right: 0;
  z-index: 10;
}

.actions_menu {
  overflow: hidden;
  .nav {
    width: 60px;
    >li {
      border-bottom: solid 1px rgba(255, 255, 255, 0.2);
      +li {
        margin-top: 0px;
      }
      &.active {
        a {
          background-color: rgba(var(--main-color-rgb), 0.3);
          border: none;
        }
      }
      >a {
        padding-left: 2px;
        padding-right: 2px;
        border-radius: 0;
        width: 60px;
        height: 60px;
        &:hover {
          background-color: rgba(var(--main-color-rgb), 0.3);
        }
      }
    }
  }
  .tab-content {
    width: 100%;
    background-color: rgba(var(--main-color-rgb), 0.3);
    overflow: auto;
    .content {
      padding: 10px 15px 0;
      border-bottom: solid 2px rgba(255, 255, 255, 0.2);
      .logs-content {
        width: 100%;
        padding: 20px;
        margin: 10px 0px;
        max-height: 300px;
        overflow: auto;
        background-color: var(--main-color);
        > div {
          word-break: break-word;
          white-space: pre-line;
        }
      }
    }
    .content--empty {
      padding: 10px 15px 0;
    }
    .name {
      font-size: 18px;
      font-weight: 600;
      text-transform: uppercase;
    }
    .info {
      margin-bottom: 0px;
      font-size: 11px;
      font-weight: 900;
      color: rgba(255, 255, 255, 0.3);
      text-transform: uppercase;
    }
    .info-value {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 15px;
    }
    .status {
      width: 16px;
      height: 16px;
      border-radius: 10px;
      border: solid 2px #ffffff;
      margin-right: 4px;
      margin-top: 2px;
    }
    .status--success {
      background-color: #7ed321;
    }
    .status--queued {
      background-color: #DDC025;
    }
    .status--error {
      background-color: #d0021b;
    }
    .file_content {
      padding: 7px 10px;
      margin-top: 5px;
      margin-bottom: 10px;
      border: 1px solid #FFF;
      p {
        margin-bottom: 0;
      }
      svg {
        width: 16px;
        height: 16px;
      }
      .error {
        color: #cf6766;
      }
    }
  }
  .menu-name {
    font-size: 8px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 8px;
    color: #FFF;
  }
  .md-button.md-fab.opacity[disabled] {
    opacity: 0.2;
  }
}

.empty-action {
  font-size: 16px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}

.tooltip_container {
  background-color: var(--main-color);
  margin: 0;
  padding: 7px;
  .title {
    margin-bottom: 5px;
    font-size: 10px;
    font-weight: 900;
    color: var(--extra-color);
    text-transform: uppercase;
  }
  .value {
    margin-bottom: 0px;
    font-size: 11px;
    color: #FFF;
  }
}
