md-dialog.credential {
  md-toolbar:not(.md-menu-toolbar) {
    background-color: $text__color--light;
    color: var(--extra-color);
    i {
      color: $text__color--danger;
    }
    h2 {
      font-size: 26px;
    }
  }
  md-dialog-content {
    max-width: 800px;
    min-width: 650px;
    max-height: 810px;
  }
  form {
    margin-bottom: 0;
  }
  label {
    color: var(--main-color);
    margin-bottom: 0px;
    font-size: 16px;
  }
  md-input-container {
    padding-bottom: 2px;
    margin-right: 10px;
    min-width: 50%;
  }
  .info_content {
    background-color: #EBEBEB;
    padding: 5px;
    border: 2px solid;
    border-color: var(--extra-color);
    margin-right: 10px;
    min-width: 50%;
  }
  .info_icon {
    color: var(--extra-color);
    cursor: pointer;
  }
  .visible_icon {
    color: var(--extra-color);
    cursor: pointer;
    position: absolute;
    top: 1px;
    right: 6px;
  }
  .username {
    color: var(--main-color);
  }
  .md-button.md-raised.save_button:not([disabled]) {
    background-color: var(--main-color);
    color: $text__color--light;
    i {
      margin-right: 5px;
    }
  }
}
