.jqgrid-table {
  margin: 0 auto;
  th input[type="checkbox"] {
    display: none;
  }
  td:first-child input[type="checkbox"] {
    display: none;
  }
  input[type='checkbox'] {
    outline: none;
    background-image: url('#{$imgpath}/checkbox.png');
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    background-position: 0 -27px;
  }
  input[type='checkbox']:checked {
    background-position: 0 0;
  }
}

.jqgh_cbox,
.td_cbox {
  display: none;
}

.ui-jqgrid {
  tr.jqgrow:last-child {
    border-bottom: 1px solid #989898;
  }
  .ui-jqgrid-hbox {
    width: calc(100% + 1px);
  }
  .ui-jqgrid-caption {
    display: none;
  }
  .ui-jqgrid-pager .navtable {
    float: right !important;
  }
  .ui-jqgrid-bdiv {
    height: calc(#{$tab_height_lg} - 193px) !important;
    &::-webkit-scrollbar {
      width: 1px;
    }

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      border-radius: 1px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 1px;
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    }
  }
  .ui-jqgrid-labels th {
        border: none;
  }
  .ui-jqgrid-htable {
    thead th {
      padding: 0px;
      div {
        width: 100% !important;
        text-align: center;
        word-break: break-word;
        white-space: pre-wrap;
        border-right: 1px solid #989898;
      }
    }
    th span.ui-jqgrid-resize {
      display: none;
    }
    tr th:last-child div {
      border-right: none;
    }
  }
  .ui-grid-ico-sort {
    right: -14px;
  }
  .ui-jqgrid-btable tbody tr.jqgrow td {
    padding-right: 5px;
    text-align: center;
    border-right: 1px solid #989898;
    position: relative;
    text-overflow: ellipsis;
    overflow: inherit;
    white-space: normal;
    word-break: break-all;
    &:last-child {
      border-right: none;
    }
    i.search {
      position: absolute;
      right: 7px;
      top: calc(50% - 10px);
      color: #009688;
    }
    .input-dropdown ul {
      background-color: #f5f5f5;
    }
  }
  .table-bordered.extra_border {
    border-left: 4px solid #D8D8D8 !important;
  }
}

.table_icon {
  width: 16px;
  height: 14px;
  display: inline-block;
  background: url('#{$imgpath}/upload.svg') no-repeat 0 0;
  background-size: 100%;
}

div.bootstrap-datetimepicker-widget.dropdown-menu.usetwentyfour {
  table tr td {
    border-right: none;
	white-space: normal;
  }

  span.glyphicon-time {
	font-family: OpenSans;
    margin-bottom: 10px;
    &:before {
      content: "SET TIME \231A";
    }
  }
}

.material-icons.metainfo_icon {
  color: $text__color--grey;
  font-size: 16px;
}
