$text__color--light: #FFF;
$text__color--dark: #282828;
$text__color--dark_cyan: #009688;
$text__color--danger: #E15E5E;
$text__color--green: #009688;
$text__color-red: #CF6766;
$text__color--grey: rgba(0, 0, 0, 0.3);

$bg__color--dark_cyan: #009688;
$bg__color--light: #FFF;
$bg__color--transparent: rgba(0, 0, 0, 0);
$bg__color--danger: #E15E5E;
$bg__color--grey: #f8f8f8;
$bg__color--greenish: #1AB571;

$border__color--dark: #000;

$text--success_toastr: #0DAB4C;
$text--error_toastr: #CB494E;
$bg--login-toasrt: #DC143C;

$bg--copy_bar: #003F58;
$bg--copy_header: #00A59A;
$text--copy_header: #FFF;

$text--create: #FFF;
$text--create_input: rgba(255,255,255,0.54);
$border--create: #FFF;
