$shadow_scenario: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
$shadow_content: 1px 4px 7px 0px rgba(0,0,0,0.2);
$shadow_execution: 5px 5px 5px 0px rgba(0,0,0,0.16);
$shadow_execution--extra: 0px 7px 29px 0px rgba(0,0,0,0.25);
