$parameters: 300px;
$parameters_padding: 20px;

$bar_width: 60px;
$bar_height_sm: 64px;

$tab_width_md: 240px;
$parameters_md: 270px;
$parameters_padding_md: 20px;
$tab_width_sm: 230px;
$parameters_sm: 280px;

$tab_width_lg: 280px;
$tab_height_lg: 774px;
$tab_height_sm: 695px;

$action_width: 400px;

$breadcrumb_md: 60px;

$settings_menu--width: 280px;
$settings_menu--margin: 20px;
$settings_scripts--width: 300px;
$settings_scripts--margin: 20px;
