<md-dialog aria-label="Custom Action" ng-cloak class="stop_dialog">
  <md-content class="stop_content">
    <h2>Stop execution?</h2>
    <div layout="row" layout-align="center center">
      <md-button class="md-red" ng-click="stop()">
        Stop
      </md-button>
      <md-button ng-click="cancel()">
        Cancel
      </md-button>
    </div>
  </md-content>
</md-dialog>