<md-dialog aria-label="App Credentials" class="credential" ng-cloak>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Reset Password for <span class="username">{{username}}</span></h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()" aria-label="button">
        <i class="material-icons">clear</i>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <div class="md-dialog-content">
      <form name="resetForm">
        <div layout="row" layout-align="start center">
          <label for="password" flex="20">Password</label>
          <md-input-container md-no-float class="input_container" ng-show="editStatus.isPassEdit">
            <input required name="password" ng-model="newPassword"
              ng-pattern="/^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#=+_.?!@$%^&*-]).{8,}$/" ng-trim="true" aria-label="input"
              uib-popover-template="'popover_reset.html'"
              popover-is-open="resetForm.password.$error.pattern && editStatus.isPassEdit"
              popover-trigger="none"
              popover-placement="left"
              popover-append-to-body="true">
          </md-input-container>
          <i class="material-icons info_icon" ng-show="editStatus.isPassEdit" ng-click="editStatus.isPassEdit = false">done</i>
          <div class="relative info_content" ng-show="editStatus.isVisible && !editStatus.isPassEdit">
            <div ng-bind="newPassword" class="content_model"></div>
            <i class="material-icons visible_icon" ng-mouseup="editStatus.isVisible = !editStatus.isVisible">visibility_off</i>
          </div>
          <div class="relative info_content" ng-show="!editStatus.isVisible && !editStatus.isPassEdit">
            <div ng-bind="'************'" class="content_model"></div>
            <i class="material-icons visible_icon" ng-mousedown="editStatus.isVisible = !editStatus.isVisible">visibility</i>
          </div>
          <i ng-show="!editStatus.isPassEdit" class="material-icons info_icon" ng-click="editStatus.isPassEdit = true">mode_edit</i>
        </div>
        <br>
        <div layout="row" layout-align="space-between center">
          <md-button class="md-raised md-primary text-uppercase" clipboard supported="supported" text="newPassword" on-copied="success()" on-error="fail(err)">
            <div layout="row" layout-align="center center">
              <i class="material-icons">content_copy</i>
              <span>Copy to clipboard</span>
            </div>
          </md-button>
          <md-button class="md-raised save_button" ng-click="save(newPassword)" ng-disabled="resetForm.$invalid">
            <div layout="row" layout-align="center center">
              <i class="material-icons">cloud_upload</i>
              <span>Save</span>
            </div>
          </md-button>
        </div>
      </form>
    </div>
  </md-dialog-content>
</md-dialog>

<script type="text/ng-template" id="popover_reset.html">
	<div ng-if="resetForm.password.$error.pattern">
		<b><p>Error in User Password</p></b>
		<div class="text" layout="row" layout-align="start center">
      Your Password must: <br>
        1) Be at least 8-12 characters long. <br>
        2) Contain an Upper case letter. <br>
        3) Contain a Lower case letter. <br>
        4) Contain at least one special character. <br>
        5) Contain a number. <br>
        6) Not be same as old password.
		</div>
	</div>
</script>
