<div>
  <md-tooltip md-direction="top">{{main.settingsTooltips.tableau_settings.database_credentials}}</md-tooltip>
  <md-menu>
    <p class="credentials-label" ng-click="$mdOpenMenu()">Database Credentials</p>
    <md-menu-content class="database_credentials">
      <md-list>
        <md-subheader class="md-no-sticky">Database Credentials</md-subheader>
        <md-divider></md-divider>
        <md-list-item ng-mouseenter="servernameClipboard=true" ng-mouseleave="servernameClipboard=false"
          class="md-2-line">
          <div class="md-list-item-text">
            <p class="title">Server Name</p>
            <p class="value">{{tableauSettingsCtrl.dbCredentials.server}}</p>
          </div>
          <div class="actions">
            <div ng-show="servernameClipboard"
             clipboard
             supported="supported"
             text="tableauSettingsCtrl.dbCredentials.server"
             layout="row"
             layout-align="center center"
             class="circle_icon copy_clipboard">
              <img src="./src/images/copy_content.svg">
            </div>
          </div>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item ng-mouseenter="portClipboard=true" ng-mouseleave="portClipboard=false" class="md-2-line">
          <div class="md-list-item-text">
            <p class="title">Port</p>
            <p class="value">{{tableauSettingsCtrl.dbCredentials.port}}</p>
          </div>
          <div class="actions">
            <div ng-show="portClipboard"
                 clipboard
                 supported="supported"
                 text="tableauSettingsCtrl.dbCredentials.port"
                 layout="row"
                 layout-align="center center"
                 class="circle_icon copy_clipboard">
              <img src="./src/images/copy_content.svg">
            </div>
          </div>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item ng-mouseenter="usernameClipboard=true" ng-mouseleave="usernameClipboard=false" class="md-2-line">
          <div class="md-list-item-text">
            <p class="title">User Name</p>
            <p class="value">{{tableauSettingsCtrl.dbCredentials.username}}</p>
          </div>
          <div class="actions">
            <div ng-show="usernameClipboard"
                 clipboard
                 supported="supported"
                 text="tableauSettingsCtrl.dbCredentials.username"
                 layout="row"
                 layout-align="center center"
                 class="circle_icon copy_clipboard">
              <img src="./src/images/copy_content.svg">
            </div>
          </div>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item ng-mouseenter="passwordClipboard=true" ng-mouseleave="passwordClipboard=false" class="md-2-line">
          <div class="md-list-item-text">
            <p class="title">Password</p>
            <input ng-attr-type="{{ showPassword ? 'text' : 'password' }}" class="value"
              value="{{tableauSettingsCtrl.dbCredentials.password}}">
          </div>
          <div layout="row" class="actions">
            <div ng-show="passwordClipboard"
                 ng-mousedown="showPassword=true"
                 ng-mouseup="showPassword=false"
                 text="value"
                 layout="row"
                 layout-align="center center"
                 class="circle_icon view_password">
              <img src="./src/images/view_pass.svg">
            </div>
            <div ng-show="passwordClipboard"
                 clipboard
                 supported="supported"
                 text="tableauSettingsCtrl.dbCredentials.password"
                 layout="row"
                 layout-align="center center"
                 class="circle_icon copy_clipboard">
              <img src="./src/images/copy_content.svg">
            </div>
          </div>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item ng-mouseenter="databasenameClipboard=true" ng-mouseleave="databasenameClipboard=false"
          class="md-2-line">
          <div class="md-list-item-text">
            <p class="title">Database Name</p>
            <p class="value">{{tableauSettingsCtrl.dbCredentials.dbname}}</p>
          </div>
          <div class="actions">
            <div ng-show="databasenameClipboard"
                 clipboard
                 supported="supported"
                 text="tableauSettingsCtrl.dbCredentials.dbname"
                 layout="row"
                 layout-align="center center"
                 class="circle_icon copy_clipboard">
              <img src="./src/images/copy_content.svg">
            </div>
          </div>
        </md-list-item>
      </md-list>
    </md-menu-content>
  </md-menu>
</div>
