<div class="widget" layout="column">
  <div class="header widget_right" layout="row" layout-align="space-between start">
    <div flex class="">
      <p class="text-uppercase">Table Widget</p>
      <h4 ng-bind="widgetInfo.table.displayname"></h4>
    </div>
    <i class="material-icons" ng-click="closeWidget()">clear</i>
  </div>
  <div ng-if="tabs.length" flex layout="column">
    <uib-tabset id="grid-widget" vertical="true" type="pills" flex layout="row">
      <uib-tab active="tab.active"
               disable="widgetInfo.activeTab === widgetInfo.mainTabs.row && (tab.name === 'add' || tab.name === 'edit')"
               ng-repeat="tab in tabs | orderBy: 'orderId'"
               ng-if="tab.visible"
               ng-click="changeTab(tab)">
        <uib-tab-heading>
          <img ng-src="{{'./src/images/' + tab.name + '_icon.svg'}}" alt="{{tab.name}}">
        </uib-tab-heading>
        <ng-include src="'jqGridWidget/widget/views/' + tab.name + '.ejs'" ng-if="tab.name != 'delete'"></ng-include>
        <ng-include src="'jqGridWidget/widget/views/' + tab.name + '.ejs'" onload="loadDeleteTemplate()" ng-if="tab.name == 'delete'"></ng-include>
      </uib-tab>
    </uib-tabset>
  </div>
</div>
